<div>
  <h2 class="new-question-header">Question Something:</h2>
  <%= erb :'_errors', locals: {errors: @errors} if @errors %>
  <form class="new-question" method="POST" action="/questions" id="question-form">
    <input type="text" name="question[title]" placeholder="Title" />
    <textarea class="new-question-body" name="question[body]" placeholder="Explain yourself..."></textarea>
    <input type="submit" name="submit" value="Free your mind" />
  </form>
</div>
