/*  light gray:   #cccccc
    mint green:   #9fb8b5
    darker gray:  #6c7981
    plum purple:  #534a60
    indigo:       #40466f
*/

.container {
  margin: 50px auto;
  width: 1000px;
  padding: 0px 20px 20px 20px;
  border: 1px solid black;
  border-radius: 10px;
  display: block;
}

.header-footer {
  margin: 0px;
  padding: 0px;
  list-style: none;
  clear: both;
  background-color: #9fb8b5;
}

nav ul {
  text-align: right;
  padding: 0px;
  margin: 0px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 8px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bold;
}

a:visited {
  color: black;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid black;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid black;
}

form {
  text-align: right;
  padding: 5px;
}

input[type=submit] {
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  background: #534a60;
  color: white;
  width: 30%;
}

input[type=hidden] {
  padding: 0;
  margin: 0;
  border: 0;
}

.list-container {
  margin: 20px;
}

.question-list {
  margin: auto;
}

.text-align-r {
  text-align: right;
}

.question-link {
  font-size: 1.4em;
  padding-left: 15px;
}

input {
  border: 1px solid #534a60;
  border-radius: 5px;
  background: white;
  padding: 2px;
  margin: 5px;
  width: 80%;
}

.top-border {
  border-top: 1px solid #cccccc;
  padding: 5px;
}

.bottom-border {
  border-bottom: 1px solid #cccccc;
  padding: 5px;
}

.bumblebess {
  height: auto;
  width: auto;
  max-width: 50px;
  max-height: 50px;
}

#link-disguise {
  outline: none;
  border: none;
  background: none;
  padding: 0px;
  margin: 0px;
  width: auto;
  text-decoration: none;
  color: black;
  display: inline-block;
}

#link-disguise:hover {
  font-weight: bold;
}

#best-answer-link-disguise {
  outline: none;
  border: none;
  background: none;
  padding: 0px;
  margin: 0px;
  width: auto;
  text-decoration: none;
  color: black;
  display: inline-block;
}

#best-answer-link-disguise:hover {
  font-weight: bold;
}

#logout-form, #favorite-form {
  display: inline;
}

.center {
  text-align: center;
}

.dark-gray-text {
  color: #6c7981;
}

.plum-purple-background {
  background-color: #534a60;
}

.plum-purple-border {
  border: 1px solid #534a60;
}

.button-container {
  border: 1px solid black;
  border-radius: 10px;
  width: 20%;
  height: auto;
  margin: auto;
}

.button-container a {
  display: block;
  padding: 10px;
  color: white;
}

.italicize {
  font-style: italic;
}

.date {
  font-size: .8em;
  padding-left: 5px;
}

.top-pad {
  padding-top: 10px;
}

.bottom-pad {
  padding-bottom: 10px;
}

.right-align {
  text-align: right;
}

td {
  padding-left: 10px;
}

.font-size-9em {
  font-size: .9em;
}

.answer-break {
  display: block;
  width: 800px;
  border-bottom: 1px solid #cccccc;
}

.answer-form {
  width: 40%;
  margin: auto;
}

.errors {
  color: red;
  text-align: center;
  list-style-type: none;
  padding: 0px;
}

.best-indicator {
  height: auto;
  width: auto;
  max-width: 50px;
  max-height: 50px;
}

.author-name {
  color: #6c7981;
  font-size: .8em;
  font-style: italic;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.max-width-125 {
  max-width: 125px;
}

.margin-auto {
  margin: auto;
}

.new-comment-button {
 max-width: 500px;
 margin: auto;
}

.max-width-50 {
  max-width: 50%;
}

.hidden {
  display: none;
}

/* begin vote form styling */

.question-vote-form, .answer-vote-form, .comment-vote-form {
  float: left;
}
.comment-list {
  clear: left;
}

/* begin vote button styling */

input[type=submit].vote-button {
  width: 0;
  height: 0;
  border-radius: 0;
  background: none;
  color: #534a60;
  padding: 0;
}

input[type=submit].downvote {
  border-bottom: 0;
}

input[type=submit].upvote {
  border-top: 0;
}

/*variable vote sizes for question, comment, and answer votes: */
.question-vote-form input[type=submit].vote-button {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.question-vote-form input[type=submit].upvote {
  border-bottom: 20px solid #534a60;
}

.question-vote-form input[type=submit].downvote {
  border-top: 20px solid #534a60;
}

.comment-vote-form input[type=submit].vote-button {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.comment-vote-form input[type=submit].upvote {
  border-bottom: 8px solid #534a60;
}

.comment-vote-form input[type=submit].downvote {
  border-top: 8px solid #534a60;
}

.answer-vote-form input[type=submit].vote-button {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.answer-vote-form input[type=submit].upvote {
  border-bottom: 12px solid #534a60;
}

.answer-vote-form input[type=submit].downvote {
  border-top: 12px solid #534a60;
}

/* fieldset is added when the vote button has been clicked by this user, below stylings change the color */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.question-vote-form .upvoted input[type=submit].upvote {

  border-bottom: 20px solid #6c7981;
}

.question-vote-form .downvoted input[type=submit].downvote {
  border-top: 20px solid #6c7981;
}

.comment-vote-form .upvoted input[type=submit].upvote {
  border-bottom: 8px solid #6c7981;
}

.comment-vote-form .downvoted input[type=submit].downvote {
  border-top: 8px solid #6c7981;
}

.answer-vote-form .upvoted input[type=submit].upvote {
  border-bottom: 12px solid #6c7981;
}

.answer-vote-form .downvoted input[type=submit].downvote{
  border-top: 12px solid #6c7981;
}

/* total value numbers within vote form */
.total-value {
  text-align: center;
  font-style: bold;
  color: #534a60;
  margin: 0;
  padding: 0;
  border: 0;
}

.question-vote-form .total-value {
  font-size: 2em;
}

.comment-vote-form .total-value {
  font-size: 1.25em;
}

.answer-vote-form .total-value {
  font-size: 1.6em;
}

.disabled-vote {
  border-color: green;
}

