<h2>Answers:</h2>
<div id="answer-guts">
  <%= erb :_answer_guts, layout: false %>
</div>
<h3 class="center">Add Answer</h3>
<%= erb :_errors %>
<form class="answer-form" method="post" action="/questions/<%= @question.id %>/answers">
  <textarea name="body" rows="4" cols="50"></textarea>
  <br>
  <div class="center">
    <input type="submit" value="Submit">
  </div>
</form>
