<% if @errors %>
  <ul class="error-msg-list block center">
    <% @errors.each do |error| %>
      <li class="error-msg inline-block">Error: <%= error.downcase %></li>
    <% end %>
  </ul>
<% end %>

