<form class="vote-form upvote" action="/votes" method="post">
  <input type="hidden" name="vote[votable_id]" value="<%= votable.id %>">
  <input type="hidden" name="vote[votable_type]" value="<%= votable.class %>">
  <input type="hidden" name="question_id" value="<%= @question.id %>">
  <% if votable.vote_match("up", current_user) %>
    <fieldset class="upvoted" disabled>
  <% end %>
  <input class="upvote vote-button" type="submit" name="submit" value="Upvote">
  <% if votable.vote_match("up", current_user) %>
    </fieldset disabled>
  <% end %>
  <div class="total-value">
    <%= votable.total_vote_value %>
  </div>
   <% if votable.vote_match("down", current_user) %>
    <fieldset class="downvoted" disabled>
  <% end %>
  <input class="downvote vote-button" type="submit" name="submit" value="Downvote">
  <% if votable.vote_match("down", current_user) %>
    </fieldset disabled>
  <% end %>
</form>
